# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/

# Virtual environments
venv/
.env

# Uploads e temporários
uploads/
backup_uploads/
barcodes/
flask_sessions/

# Arquivo de configuração sensível
config/config.py
